1 ICON "../data/setup.ico"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "setup-manifest.xml"

1 VERSIONINFO
PRODUCTVERSION 1,6,0,0
FILEVERSION 1,6,0,0
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "FileVersion", "1.6.0"
   VALUE "FileDescription", "Mint-Doom Setup"
   VALUE "InternalName", "mint-setup"
   VALUE "CompanyName", "jdk1337@gmail.com"
   VALUE "LegalCopyright", "GNU General Public License"
   VALUE "ProductName", "Mint-Doom Setup"
   VALUE "ProductVersion", "1.6.0"
  }
 }
}

